name: Build

on: [ workflow_dispatch ]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Set up Docker Build
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Build and push
        id: build
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ${{ github.repository }}:latest
      - name: Print image digest
        run: echo ${{ steps.build.outputs.digest }}
